<% if flash.any? %>
  <div class="flashes">
    <% user_facing_flashes.each do |key, value| %>
      <% div_class = flash_class(key) %>
      <div class="<%= div_class %>">
        <%= value %>  	
      </div>
    <% end %>
  </div>
<% end %>
